<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>Your Life at a Glance</title>

    <!-- CSS for all pages -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/general.css" />


    <!-- Then load the journal-specific CSS -->


    <!-- CSS for home page -->
    <link rel="stylesheet" href="css/layouts.css" />
    <link rel="stylesheet" href="css/todo.css" />
</head>
<body>

   {{{content}}}
   
   <script src="js/globals.js"></script>
   <script src="js/todo.js"></script>
   <script src="js/tasks.js"></script>
   <script src="js/habits.js"></script>


</body>
</html>