<link rel="stylesheet" href="css/signup.css">
    <div class="signup-container">
            <h2>JOIN US</h2>
            <form>
                <label for="username">Username:</label>
                <input type="text" id="modal-username" required>

                <label for="email">Email:</label>
                <input type="email" id="modal-email" required>

                <label for="password">Password:</label>
                <input type="password" id="modal-password" required>

                <button type="submit">Sign Up</button>
            </form>
        </div>

    <!-- Theme Switcher -->
    <div class="theme-switcher">
        <label for="theme-select">Select Theme:</label>
        <select id="theme-select">
            <option value="root">Default (Dark)</option>
            <option value="green-theme">Green</option>
            <option value="purple-theme">Purple</option>
            <option value="lilac-theme">Lilac</option>
            <option value="light-theme">Tropical</option>
        </select>
    </div>

    <script src="js/signup.js"></script>

